# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules/

# misc
.env*
.pnpm-debug.log
npm-debug.log*
yarn-error.log
.eslintcache
/deploy-test-app/
.idea/ember-flatpickr.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
.idea/php.xml
.idea/prettier.xml
.idea/vcs.xml
